<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <select>
      <option value="0.1">Центр</option>
      <option value="0.2">Спальный</option>
      <option value="0.3">Окраина</option>
    </select><br>
    <select>
      <option value="0.16">< 50 м2</option>
      <option value="0.32">50-100 м2</option>
      <option value="0.48">100-150 м2</option>
      <option value="0.64">150-200 м2</option>
      <option value="0.80">200-250 м2</option>
      <option value="0.96">> 250 м2</option>
    </select><br>
    <select>
      <option value="0.1">1</option>
      <option value="0.2">2</option>
      <option value="0.3">3</option>
      <option value="0.4">4</option>
      <option value="0.5">5</option>
    </select><br>
    <input type="checkbox" name="infra" value="0">Инфраструктура<br>
    <select>
      <option value="0.2">70e</option>
      <option value="0.4">80е</option>
      <option value="0.6">90e</option>
      <option value="0.8">00e</option>
      <option value="1">10e</option>
    </select><br>
    <input type="checkbox" name="remont" value="0"> Ремонт<br>
    <input type="submit" value="Submit">
</body>
</html>